asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.4.2
defusedxml==0.5.0
diff-match-patch==20181111
Django==2.1.4
django-appconf==1.0.2
django-compressor==2.2
django-crispy-forms==1.7.2
django-formtools==2.1
django-haystack==2.8.1
django-import-export==1.1.0
django-js-asset==1.1.0
django-reversion==3.0.2
django-simditor==0.0.15
et-xmlfile==1.0.1
future==0.17.1
httplib2==0.12.0
idna==2.8
jdcal==1.4
jieba==0.39
mysqlclient==1.3.14
odfpy==1.4.0
openpyxl==2.5.12
Pillow==5.3.0
pycparser==2.19
Pygments==2.3.1
PyMySQL==0.9.3
pytz==2018.7
PyYAML==3.13
rcssmin==1.0.6
rjsmin==1.0.12
six==1.12.0
tablib==0.12.1
unicodecsv==0.14.1
Whoosh==2.7.4
-e git+https://github.com/sshwsfc/xadmin@0751cd91bcb16735f83f77458d463f047803e7b0#egg=xadmin
xlrd==1.2.0
xlwt==1.3.0
