{% extends "base.html" %}

{% block title %}{{ tag_name }} - Q's Blog{% endblock %}

{% block content %}

    <div id="main" class="container X">
        <ul class="entry-list" role="main">
            <h1>Tag: {{ tag_name }}</h1>
            {% for blog in blogs %}
                <li class="entry-item" itemscope="" itemtype="http://schema.org/Article">
                    <div class="entry-meta">
                        <time class="updated" itemprop="datePublished">{{ blog.created_time }}</time>
                    </div>
                    <div class="detail">
                        <h2 itemprop="name"><a itemprop="url" href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h2>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}